@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629884951041') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renyuan:before {
  content: "\e634";
}

.icon-youjiantou:before {
  content: "\e635";
}

.icon-sousuo:before {
  content: "\e636";
}

.icon-shanchu:before {
  content: "\e637";
}

.icon-shezhi:before {
  content: "\e638";
}

.icon-gongneng:before {
  content: "\e639";
}

.icon-fabu:before {
  content: "\e63a";
}

.icon-xinxi:before {
  content: "\e63b";
}

.icon-ziyuan246:before {
  content: "\e63c";
}

.icon-xiaoyou:before {
  content: "\e63d";
}

.icon-chaxun:before {
  content: "\e63e";
}

.icon-diqiu:before {
  content: "\e63f";
}

.icon-yuyin:before {
  content: "\e640";
}

.icon-ziyuan248:before {
  content: "\e641";
}

.icon-ziyuan243:before {
  content: "\e642";
}

.icon-shouye:before {
  content: "\e643";
}

.icon-mima:before {
  content: "\e644";
}

.icon-xiaoyou2:before {
  content: "\e645";
}

.icon-jiankong:before {
  content: "\e646";
}

.icon-zhedie:before {
  content: "\e647";
}

.icon-baocun:before {
  content: "\e648";
}

.icon-jinggao:before {
  content: "\e649";
}

.icon-bianji:before {
  content: "\e64a";
}

.icon-fenlei:before {
  content: "\e64b";
}

.icon-wenjian:before {
  content: "\e64c";
}

.icon-shuaxin:before {
  content: "\e64d";
}

.icon-yingyong:before {
  content: "\e64e";
}

.icon-yunduan:before {
  content: "\e64f";
}

.icon-quanxian:before {
  content: "\e650";
}

.icon-shangchuan:before {
  content: "\e651";
}

.icon-fanhui:before {
  content: "\e652";
}

.icon-mima1:before {
  content: "\e653";
}

.icon-fenxiang:before {
  content: "\e654";
}

.icon-xiangmu:before {
  content: "\e655";
}

.icon-tupian:before {
  content: "\e656";
}

.icon-jianshao:before {
  content: "\e657";
}

.icon-wenti2:before {
  content: "\e658";
}

.icon-jinzhi:before {
  content: "\e659";
}

.icon-zengjia:before {
  content: "\e65a";
}

.icon-delete:before {
  content: "\e65b";
}

.icon-wenti:before {
  content: "\e65c";
}

.icon-zhengchang:before {
  content: "\e65d";
}

.icon-keshi:before {
  content: "\e65e";
}

.icon-shujukeshihua:before {
  content: "\e65f";
}

.icon-diannao:before {
  content: "\e660";
}

.icon-wenjianjia:before {
  content: "\e661";
}

.icon-shouji:before {
  content: "\e662";
}

.icon-rili:before {
  content: "\e663";
}

.icon-zhuzhuangtu:before {
  content: "\e664";
}

.icon-liucheng:before {
  content: "\e665";
}

.icon-lianjie:before {
  content: "\e666";
}

.icon-shuangjiantou:before {
  content: "\e667";
}

.icon-tiaozheng:before {
  content: "\e668";
}

.icon-kecheng:before {
  content: "\e669";
}

.icon-kechengzonglan:before {
  content: "\e66a";
}

.icon-jiaoshizonglan:before {
  content: "\e66b";
}

.icon-renwuguanli:before {
  content: "\e66c";
}

.icon-fujian:before {
  content: "\e66d";
}

.icon-fangda:before {
  content: "\e66e";
}

.icon-suoxiao:before {
  content: "\e66f";
}

